# Java Maven build directories
target/

# Python virtual environment
venv/

# Node.js dependencies
node_modules/

# IDE files
*.iml

# System files
.DS_Store

/docker/database/logstash_data
/docker/database/elasticsearch_data