spring:
  application:
    name: video-service

  datasource:
    url: ${PG_URL}
    username: ${PG_USERNAME}
    password: ${PG_PASSWORD}

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/v.1.0.0/changelog.xml

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  elasticsearch:
    uris: ${ELASTICSEARCH_URL}
    connection-timeout: 10s
  
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${ISSUER_URL}
          jwk-set-uri: ${JWT_SET_URL}

  servlet:
    multipart:
      max-file-size: 10GB
      max-request-size: 10GB
      file-size-threshold: 1MB
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL}
  instance:
    prefer-ip-address: true

server:
  port: 8082

# MinIO Configuration
minio:
  endpoint: ${MINIO_ENDPOINT}
  access-key: ${MINIO_ACCESS_KEY}
  secret-key: ${MINIO_SECRET_KEY}
  bucket:
    videos: streamflow-videos
    thumbnails: streamflow-thumbnails
  url-expiry: 3600 # 1 h

# File Upload Configuration
file:
  upload:
    max-size: 10485760000  # 10GB
    allowed-video-types: mp4,avi,mov,mkv,webm
    allowed-image-types: jpg,jpeg,png,gif,webp

# Video Processing Configuration
video:
  temp-dir: ./video-temp

# FFmpeg Configuration
ffmpeg:
  probe-path: ffprobe
  ffmpeg-path: ffmpeg
  conversion:
    preset: medium  # Пресет для конвертации (ultrafast, fast, medium, slow, veryslow)
    crf: 23  # Constant Rate Factor (18-28, меньше = лучше качество, больше = меньше размер)
    audio-bitrate: 128  # Битрейт аудио в kbps
